
  .w3-third:hover { 
    border-bottom: 5px outset #999999;
  }

  .paddingImg2 { 
   padding-bottom: 34px
  }

  .paddingImg3 { 
   padding-bottom: 54px
  }

  .datarecovery{
      padding: 12px 100px 12px 100px ;
  }
  .vfxInstallation {
    padding: 12px 0px 12px 250px;
}
  .datarecovery ul li {
      color: #999999;
  }


  .mrtb{
      padding: 120px 0px ;
  }

  .followus{
      display: inline;
      padding-right: 11px;
      padding-left: 4px;
  }

  .pdtop{
    padding-top: 16px;
  }

  @media only screen and (max-width: 1024px) {

  .datarecovery ,.vfxInstallation{
    padding: 12px 0px 12px 0px;
  }
}
    